<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
	<meta charset="utf-8" />
</head>

    <body ng-app="MyApp">
        <div ng-controller="MyController1" style="border:solid">
            <input type="button" value="Broadcast Down"
                   ng-click="OnClick($event)" />
            <h4>{{Message}}</h4>
            <div ng-controller="MyController2" style="border:solid">
                <h4>{{Message}}</h4>
                <div ng-controller="MyController3" style="border:solid">
                    <h4>{{Message}}</h4>
                    <input type="button" value="Emit Up"
                           ng-click="OnClick($event)" />
                </div>
            </div>
        </div>

        <script>
            var app = angular.module("MyApp", []);
            app.controller("MyController1", function ($scope, $rootScope) {

                //broadcast the event down
                $scope.OnClick = function (evt) {
                    $scope.$broadcast("SendDown", "some data");
                }

                //handle SendDown event
                $scope.$on("SendDown", function (evt, data) {
                    $scope.Message = "Inside SendDown handler of MyController1 : " + data;
                });

                //handle SendUp event
                $scope.$on("SendUp", function (evt, data) {
                    $scope.Message = "Inside SendUp handler of MyController1 : " + data;
                });
            });
            app.controller("MyController2", function ($scope, $rootScope) {

                //handle SendDown event
                $scope.$on("SendDown", function (evt, data) {
                    $scope.Message = "Inside SendDown handler of MyController2 : " + data;
                });

                //handle SendUp event
                $scope.$on("SendUp", function (evt, data) {
                    $scope.Message = "Inside SendUp handler of MyController2 : " + data;
                });

            });
            app.controller("MyController3", function ($scope, $rootScope) {

                //handle SendDown event
                $scope.$on("SendDown", function (evt, data) {
                    $scope.Message = "Inside SendDown handler of  MyController3 : " + data;
                });

                //emit SendUp event up
                $scope.OnClick = function (evt) {
                    $scope.$emit("SendUp", "some data");
                }

                //handle SendUp event
                $scope.$on("SendUp", function (evt, data) {
                    $scope.Message = "Inside SendUp handler of MyController3 : " + data;
                });
            });
        </script>
    </body>

</html>
